@model StudentWebApplication.Models.Student

@{
    ViewBag.Title = "Update";
}


<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2 class="text-center" style="color: #007f00;">Update Student</h2>
            <br />
            @using (Html.BeginForm("SaveUpdate", "Home", FormMethod.Post))
            {
                @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            <label for="Name">Name:</label>
            @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Name, null, new { style = "color: red;" })
        </div>

        <div class="form-group">
            <label for="Class">Class:</label>
            @Html.TextBoxFor(model => model.Course, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Course, null, new { style = "color: red;" })
        </div>

        <div class="form-group">
            <label for="Marks">Marks:</label>
            @Html.TextBoxFor(model => model.College, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.College, null, new { style = "color: red;" })
        </div>

                <br />

                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">Update</button>
                </div>
            }
        </div>
    </div>
</div>
